<div class="filter-bar">
  <label>
    Üzemanyag:
    <select #fuel (change)="updateFuel(fuel.value)">
      <option value="">Összes</option>
      <option value="Benzin">Benzin</option>
      <option value="Dízel">Dízel</option>
      <option value="Elektromos">Elektromos</option>
      <option value="Hibrid">Hibrid</option>
    </select>
  </label>

  <label>
    Váltó:
    <select #valto (change)="updateValto(valto.value)">
      <option value="">Összes</option>
      <option value="Manuális">Manuális</option>
      <option value="Automata">Automata</option>
    </select>
  </label>

  <label>
    Min. személyek:
    <input
      #szemelyek
      type="number"
      min="1"
      (input)="updateMinSzemelyek(szemelyek.value)"
    />
  </label>

  <label>
    Max ár (Ft/nap):
    <input #max type="number" min="0" (input)="updateMaxAr(max.value)" />
  </label>
</div>

<div class="app-grid">
  <app-car-card
    class="grid-item"
    *ngFor="let car of filteredCars$ | async"
    [car]="car"
  ></app-car-card>
</div>
