@use "sass:color";

$gutter: 2rem;
$columns: 12;

@mixin responsive-grid($breakpoint: 968px) {
  display: grid;
  place-items: strech;
  grid-template-columns: repeat(1, 1fr);
  gap: $gutter;

  @media (min-width: $breakpoint) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1440px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.app-grid {
  @include responsive-grid();

  .grid-item {
    @apply rounded-xl bg-white p-3 shadow-lg hover:shadow-xl;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;

    &:hover {
      cursor: pointer;
    }
  }
}
